.wrap {
    width: 100%;
    position: relative;
    height: 1500px;
}

.list {
    position: relative;
    line-height: 7;
    padding-top: 50px;
    padding-left: 40px;
}

.item {
    display: inline-block;
    width: 100%;
}

.timeline-container {
    position: absolute;
    width: 3px;
    border: 1px solid black;
    top: 100px;
    left: 20px;
    height: 500px;
}

.timeline {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    background-color: tomato;
    width: 4px;
    transition: 0.1s;
}